html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(58, 52, 52);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 32px;
    
}

#header, #footer{
    height: 10%; /*Sets a static height property for the header and footer*/
    align-items: center;
    padding: 5%;
}

#contentContainer{
    align-items: center;/*Places the main features centrally on the webpage*/
    justify-content: center; /*Spaces the two main features of the website*/
    display: flex; 
    flex: auto; /*Expands contentContainer to max height and width.*/
    width: 100%;
    height: auto;
}

#settingsButtons{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 100px;
}

.btn {
    height: 60px;
    width: 120px;
}

#gridContainer{
    /*Specify a static size for the interactable Etch-a-Sketch board*/
    height: 600px;
    width: 600px;

    /*Display all children as a grid layout, separate into 1/16th size to establish the 16x16 grid*/
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    border: 1px solid black;
    background-color: white;
}

.grid-item{
    background-color: white;

}

.colouredItem {
    background-color: black;
    
}
