html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(58, 52, 52);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 32px;
    
}

#header, #footer{
    height: 50px; /*Sets a static height property for the header and footer*/
}

#contentContainer{
    align-items: center; /*Places the main features centrally on the webpage*/
    justify-content: space-evenly; /*Spaces the two main features of the website*/
    display: flex; 
    flex: auto; /*Expands contentContainer to max height and width.*/
    width: 100%;
}

#gridContainer{
    /*Specify a static size for the interactable Etch-a-Sketch board*/
    height: 600px;
    width: 600px;

    /*Display all children as a grid layout, separate into 1/16th size to establish the 16x16 grid*/
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    border: 1px solid black;
}

.grid-item{
    background-color: white;
    /*color: black;*/
    border: 1px solid rgba(0, 0, 0, 0.212);
 
}

.colouredItem {
    background-color: black;
    
}
